# Documentation:
#   https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#projects
#
# Hint: Organize applications into AppProjects to separate their privileges and access to those applications
#

---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
    name: applications
    namespace: argocd
spec:
    description: 'Applications from "definitions/applications" ({{ cluster_git_repository.remote }})'
    clusterResourceWhitelist: []
    namespaceResourceBlacklist:
        - group: ''
          kind: ResourceQuota
        - group: ''
          kind: LimitRange
        - group: ''
          kind: NetworkPolicy
    # namespaceResourceWhitelist: []
    destinations:
        - namespace: '*'
          server: '*'
    sourceRepos:
        - '*'
