---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
    name: infrastructure
    namespace: argocd
spec:
    description: 'Applications from "definitions/infrastructure ({{ cluster_git_repository.remote }})'
    clusterResourceWhitelist:
        - group: '*'
          kind: '*'
    destinations:
        - namespace: 'infracheck'
          server: 'https://kubernetes.default.svc'
        - namespace: 'mail'
          server: 'https://kubernetes.default.svc'
        - namespace: 'smtp'
          server: 'https://kubernetes.default.svc'
        - namespace: 'telegraf'
          server: 'https://kubernetes.default.svc'
        - namespace: 'kube-system'
          server: 'https://kubernetes.default.svc'
        - namespace: 'argocd'
          server: 'https://kubernetes.default.svc'
        - namespace: 'traefik'
          server: 'https://kubernetes.default.svc'
        - namespace: 'sealed-secrets'
          server: 'https://kubernetes.default.svc'
        - namespace: 'cert-manager'
          server: 'https://kubernetes.default.svc'
        - namespace: 'git-clone-operator'
          server: 'https://kubernetes.default.svc'
    sourceRepos:
        - '*'
