# Documentation:
#   https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#projects
#
# Hint: Organize applications into AppProjects to separate their privileges and access to those applications
#
# todo: Move this to GIT repository to make more control over those resources for end administrator

---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: applications
  namespace: argocd
spec:
    description: 'Applications from "definitions/applications" ({{ cluster_git_repository.remote }})'
    clusterResourceWhitelist: []
    namespaceResourceBlacklist:
        - group: ''
          kind: ResourceQuota
        - group: ''
          kind: LimitRange
        - group: ''
          kind: NetworkPolicy
    # namespaceResourceWhitelist: []
    destinations:
        - namespace: '*'
          server: '*'
    sourceRepos:
        - '*'

---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: infrastructure
  namespace: argocd
spec:
    description: 'Applications from "definitions/infrastructure ({{ cluster_git_repository.remote }})'
    clusterResourceWhitelist:
        - group: '*'
          kind: '*'
    destinations:
        - namespace: 'infracheck'
          server: '*'
        - namespace: 'mail'
          server: '*'
        - namespace: 'telegraf'
          server: '*'
        - namespace: 'kube-system'
          server: '*'
        - namespace: 'argocd'
          server: '*'
        - namespace: 'traefik'
          server: '*'
    sourceRepos:
        - '*'

---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: default
  namespace: argocd
spec:
    description: 'Should contain only "root" application that synchronizes other definitions from "definitions/*" directory in repository'
    clusterResourceWhitelist:
        - group: '*'
          kind: '*'
    destinations:
        - namespace: '*'
          server: '*'
    sourceRepos:
        - '*'

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: root
    namespace: {{ argocd_namespace }}
spec:
    project: default
    source:
        repoURL: '{{ cluster_git_repository.remote }}'
        path: definitions
        directory:
            recurse: true
            jsonnet: {}
    destination:
        server: 'https://kubernetes.default.svc'
        namespace: argocd
