commandArgs: ["--update-status"]
ingress:
    enabled: false
resources:
    limits:
        cpu: 0
        memory: 128Mi
    requests:
        cpu: 0
        memory: 56Mi
tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"
nodeSelector:
    node-type: primary
