---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
    - https://raw.githubusercontent.com/argoproj/argo-cd/{{ argocd_version }}/manifests/core-install.yaml
patches:
    - argocd-applicationset-controller.yaml
    - argocd-redis.yaml
    - argocd-repo-server.yaml
    - argocd-application-controller.yaml
    - argocd-cmd-params-cm.yaml
