---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: telegraf
    namespace: argocd
spec:
    project: infrastructure
    source:
        repoURL: 'https://github.com/riotkit-org/influxdata-helm-charts'
        path: charts/telegraf-ds
        targetRevision: master
        helm:
            releaseName: telegraf
            values: |
                env:
                    - name: MAIN_DOMAIN
                      value: "{{ main_domain }}"
                    - name: NODENAME
                      valueFrom:
                          fieldRef:
                              fieldPath: spec.nodeName
                config:
                    agent:
                        interval: "{{ telegraf_agent_interval }}"
                        flush_interval: "{{ telegraf_agent_interval }}"
                        metric_batch_size: 1000
                        metric_buffer_limit: 10000
                        hostname: "{{ main_domain }}-$NODENAME"
                    inputs:
                        enableDocker: false
                        disabledInputs: ["diskio", "kernel", "system", "swap", "processes"]
                        mem: |
                            taginclude = ["host"]
                            fieldpass = ["used_percent", "used", "total", "available", "available_percent", "cached"]
                        net: |
                            fieldpass = ["bytes_recv", "bytes_sent", "drop_in", "drop_out", "err_in", "err_out", "packets_recv", "packets_sent", "tcp_maxconn"]
                        cpu: |
                            percpu = false
                            totalcpu = true
                            collect_cpu_time = false
                            report_active = false
                            fieldpass = ["usage_user", "usage_system", "usage_idle", "usage_iowait"]
                    outputs:
                        - socket_writer:
                              address: "{{ telegraf_socket_writer_address }}"
                              tls_ca: "/mnt/riotkit-certs/ca.crt"
                              tls_cert: "/mnt/riotkit-certs/tls.crt"
                              tls_key: "/mnt/riotkit-certs/tls.key"
                              insecure_skip_verify: true
                              data_format: "influx"
                resources:
                    requests:
                        memory: 65Mi
                        cpu: 0
                    limits:
                        memory: 2Gi
                        cpu: 1
                volumeMounts:
                    - name: certs
                      mountPath: /mnt/riotkit-certs
                      readOnly: true
                volumes:
                    - name: certs
                      secret:
                          secretName: "telegraf-tls-auth-certs"

    destination:
        server: https://kubernetes.default.svc
        namespace: telegraf
    syncPolicy:
        syncOptions:
            - CreateNamespace=true
