---
apiVersion: v1
kind: Secret
metadata:
    name: telegraf-tls-auth-certs
    namespace: telegraf
data:
    ca.crt: "{{ telegraf_certs.ca_crt | b64encode }}"
    tls.crt: "{{ telegraf_certs.tls_crt | b64encode }}"
    tls.key: "{{ telegraf_certs.tls_key | b64encode }}"
