---
apiVersion: v1
kind: Secret
metadata:
    name: telegraf-tls-auth-certs
    namespace: telegraf
data:
    ca.crt: |
        {{ telegraf_certs.ca_crt | indent(12) | b64decode }}
    tls.crt: |
        {{ telegraf_certs.tls_crt | indent(12) | b64decode }}
    tls.key: |
        {{ telegraf_certs.tls_key | indent(12) | b64decode }}
